body{
    background: #222222;
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #16222A , #3A6073);
}
*{
    margin: 0;
    padding: 0;
  }
  


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
   
}

/* Style the submit button with a specific background color etc */


/* When moving the mouse over the submit button, add a darker green color */
// input[type=submit]:hover {
//     background-color: #45a049;
// }

/* Add a background color and some padding around the form */






//..........Extra div.......//
.ok{

  height: 25px;
}
.container{

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
  max-width: 800px;
  height: 550px;
  background: #fff;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  box-sizing: border-box;
  padding: 40px;
}

p{
    text-align: center;
    letter-spacing: 1px;  
    font-size: 45px;
    margin-bottom: 20px;
    color: #486255;
  }


  button{
    width: 100%;
    background: #486255;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }

  input:focus,
.msg .area:focus{
  border: 2px solid #26a69a;
  outline: none;
}
::-webkit-input-placeholder{
  font-family: 'roboto';
}
