.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

body {
    background: white;
    //   background: -webkit-linear-gradient(to top, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
    //     background: linear-gradient(to top, #16222A , #3A6073)
}

// ..................trend HAndling.........
//...................... grid styling..........
//................ SEARCH BOX................
.searchbox {
    margin-top: 90px;
}

// 
//Styling Field and button
.myclass {
    margin-left: 25%;
}

input[type=text] {
    border-radius: 25px;
    border: 2px solid rgb(40, 79, 105);
    padding: 13px;
    width: 500px;
    height: 15px;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
}

button {
    width: 56px;
    height: 56px;
    text-align: center;
    padding: 8px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
    margin-left: 4px;
}

// Extra Div Given 
#extra {
    margin-top: 50px;
}

// ...........GRID_STYLING...............//
#styling {
    display: grid;
    grid-template-columns: 1fr;
    max-width: auto;
    grid-column-gap: 50px;
    justify-items: center;
    margin-right: 400px;
}

// ..................Grid__DIV__1.........//
// #advertisment{}
//...........GRID__DIV__2.........//
// .....................GRID__DIV__3........//
// .heading{
//     margin-left: 100PX;
// }
.Trend-1 {
    background-color: whitesmoke;
    width: 100%;
    overflow: hidden;
    padding: 25px 98px 3px 10px;
    font-size: 15px;
    overflow-wrap: break-word;
    border-bottom: 1px solid #26a69a;
    font-weight: 20px;
}

.trens-2 {
    border-bottom: 3px solid #26a69a;
    padding-top: 10px;
    padding-bottom: 0px;
    text-decoration-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

// ...........VIDEO--STYLING...........//
.card P {
    color: black;
    font-weight: bold;
}

.card {
    border-style: round 10px;
    background-color: #F5F5F5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 50px;
}

#txt {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
}

#video-style {
    margin-top: 30px;
}

// ........ Tend_Dummy_DIV......//
.Trend-1-b {
    background-color: whitesmoke;
    margin-right: 30px;
    overflow: hidden;
    padding: 25px 98px 3px 10px;
    font-size: 15px;
    overflow-wrap: break-word;
    border-bottom: 1px solid #26a69a;
    font-weight: 20px;
}

.trens-2-b {
    border-bottom: 3px solid #26a69a;
    padding-top: 10px;
    padding-bottom: 0px;
    text-decoration-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#trend-b {
    float: right;
}

//...... Video_trend_searched field_ Margin...............//
.vid-trend {
    width: 322px;
    height: 300px;
    float: left;
    margin-right: 10px;
}

.div4 {
    clear: left;
    height: 50px;
}

.container-1 {
    margin-left: 300px;
    width: 800px;
    position: relative;
    height: 900px;
}

// Adveetisment//
.advertisment {
    //background-image: url(../img/u.png);
    float: left;
    height: 600px;
}

.pubg {
    height: 700px;
    margin-top: 0;
    width: 200px;
    color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

img {
    max-width: 100%;
}

.slider-container {
    height: 400px;
    width: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
    &:hover {
        background: red;
    }
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}

[id^="slide"]:checked+.slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide-1 {
    width: 200px;
    background-image: url("./advertisments/2222186_1.jpg");
}

.slide-2 {
    width: 200px;
    background-image: url("./advertisments/Ufone4.jpg");
}

.slide-3 {
    width: 200px;
    background-image: url("./advertisments/pic_1.gif");
}

// ------------------------- Mobile responsivenes--------------------------//
@media screen and (max-width: 600px) {
    .searchbox {
        margin-top: 90px;
        width: 100%;
    }
    .myclass {
        margin-left: 0%;
        width: 100%;
    }
    button {
        width: 56px;
        height: 56px;
        text-align: center;
        padding: 8px 0;
        font-size: 20px;
        line-height: 2.00;
        border-radius: 30px;
        margin-left: 230px;
        ;
    }
    // --------------- trends-----------------------------//
    #trend-b {
        float: none;
        width: 800px;
    }
    .div4 {
        clear: none;
        height: 50px;
        ;
    }
    .Trend-1-b {
        background-color: whitesmoke;
        margin-right: 30px;
        overflow: hidden;
        padding: 25px 98px 3px 10px;
        font-size: 15px;
        overflow-wrap: break-word;
        border-bottom: 1px solid #26a69a;
        font-weight: 20px;
    }
    #styling {
        display: grid;
        grid-template-columns: 1fr;
        max-width: auto;
        grid-column-gap: 50px;
        justify-items: center;
    }
    .advertisment {
        background-image: none;
        float: none;
        height: 0;
    }
    .vid-trend {
        width: 100%;
        height: 100%;
        float: none;
        margin-right: 0px;
    }
    .div4 {
        clear: none;
        height: 10px;
    }
}