<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>

</head>



<body>



    <!-- Extra div  -->
    <div class="ok"> </div>






    <div *ngIf="logedin()">
        <h1 class="text-center">Log Out !</h1>

        <button type="button" class="btn btn-primary row col-md-offset-6" (click)="logout()" style="padding-right:50px">Hello!</button>
    </div>


    <!-- -----------------------------Register-------------------------------->


    <div *ngIf="!logedin()" class="ham container">

        <button onclick="document.getElementById('id02').style.display='block'" class="btn-style btn-margin">Signup</button>

        <!-- DIv started -->
        <div id="id02" class="modal">
            <form id=reg method="POST" (ngSubmit)="add()" ngNativeValidate>

                <div class="imgcontainer">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="">&times;</span>
                    <i class="fa fa-user-circle-o" style="font-size:100px;color:#26A69A"></i>
                </div>

                <div class="container">
                    <!-- First__Name------ -->

                    <input type="text" placeholder="First name" name="firstname" [(ngModel)]="user.first_name" pattern="^\D*$" required>




                    <!-- last_Name------ -->

                    <input type="text" id="input1" placeholder="Last Name" name="lastname" pattern="^\D*$" [(ngModel)]="user.last_name" required>



                    <!--Password------ -->


                    <input type="password" placeholder="Password" name="password" [(ngModel)]="user.pass" required>





                    <!-- Email------ -->
                    <input type="email" placeholder="Email" class="form-control" name="email" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                    <!--Date of birth ------ -->

                    <label for="">Date of Birth:</label>
                    <input type="date" class="datepicker" name="dob" [(ngModel)]="user.dob" required>



                    <!-- Telephone------ -->
                    <label for="icon_telephone">Telephone</label>
                    <input type='text' placeholder="xxxx-xxxxxxx" class="form-control" name="cell" [(ngModel)]="user.number" pattern="^\d{4}-\d{7}$" required>



                    <!-- Gende div------ -->
                    <div class="row col-md-offset-3">
                        <div class="form-group col-md-6">

                            <!-- Gender__Name------ -->
                            <label for="">Gender:</label><br>
                            <label>
								<input type="radio" name="gender" value="male" [(ngModel)]="user.gender" active>

								<span>Male</span>
								<br>
							</label>

                            <label>
								<input type="radio" name="gender" value="female" [(ngModel)]="user.gender">


								<span>Female</span>
								<br>
							</label>


                            <label>
								<input type="radio" name="gender" value="other" [(ngModel)]="user.gender">


								<span>Other</span>
							</label>
                        </div>
                    </div>
                    <!--Country__Name------ -->


                    <input type="text" class="form-control" placeholder="Country" name="country" [(ngModel)]="user.country" required>






                    <button id="reg-button" type="submit" style="padding-right:50px">Sign Up</button>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>

                </div>
            </form>


        </div>


        <!-- ///////////////////////////////////////////////////////////////////////////// -->
        <!-- ///////////////////////////////////////////////////////////////////////////// -->
        <!------------------------------------------- Log In--------------------------------->
        <!-- ///////////////////////////////////////////////////////////////////////////// -->
        <!-- ////////////////////////////////////////////////////////////////////////////// -->


        <!-- <h1 class="text-center">Log In !</h1> -->

        <!-- BUTTON  -->
        <br> <button onclick="document.getElementById('id01').style.display='block'" class="btn-style">Login</button>
        <!-- Button end -->

        <div id="id01" class="modal login-form">
            <form id="login" method="POST" (ngSubmit)="login()" ngNativeValidate>

                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <i class="fa fa-user-circle-o" style="font-size:48px;color:#26A69A"></i>
                </div>

                <div class="container">
                    <!--------------------------- Email---------------- -->

                    <div class="">
                        <input type="text" class="form-control" name="lastname" [(ngModel)]="loginUser.email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                    </div>
                    <!--------------------------- Password ---------------- -->
                    <div class="">
                        <input type="password" class="form-control" name="password" [(ngModel)]="loginUser.pass" placeholder="Password" required>
                    </div>
                    <button id="login-button" type="submit" class="">Log In</button>
                    <span style="color:red"></span>{{message}}
                </div>
                <!-- Cancel button -->
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" id="cncl-button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>

                </div>
            </form>
        </div>






    </div>







    <!-- Extra div  -->

    <div class="ok"> </div>
    <script>
        var field = document.querySelector('[name="firstname"]');
        field.addEventListener('keypress', function(event) {
            var key = event.keyCode;
            if (key === 32) {
                event.preventDefault();
            }
        });
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


        //----------------------- second-- button------------------------//
        var modal = document.getElementById('id02');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>


    <script>
        var countries = ["Quetta", "Peshawar", "Lahore", "Faisalabad", "Rawalpindi", "Multan", "Hyderabad", "Rawalakot", "Karachi", "Islamabad"];

        function autocomplete(inp, arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) {
                    return false;
                }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function(e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });

            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }

            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }

            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function(e) {
                closeAllLists(e.target);
            });
        }
    </script>
    <script>
        autocomplete(document.getElementById("myInput"), countries);
    </script>
</body>

</html>